@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
a{
    text-decoration: none !important;
}
.login {
    position: absolute;
    background: #F0F5FF;
    box-shadow: 0px 50px 100px #9fabc7;
    width: 100%;
    height: 100%;
}

.img-login{
    text-align: center;
}
.containe-login{
    position: relative;
    width: 100%;
    height: 439px;
    top: 10px;
    background-image: url(img/image-logo.svg);
    background-color: #E4ECFB;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top, center;
}
.containe-signup{
    position: relative;
    width: 100%;
    height: 439px;
    top: 10px;
    background-color: #E4ECFB;
    border-radius: 40px;
    padding: 15px;
}
.title-login{
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    width: 100px;
    width: 165px;
    text-align: left;
}
.title-login h1{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #29235C;
    mix-blend-mode: normal;
}
.sub-title-login, .login-group-cta{
    padding: 25px 20px 25px 20px;
}
.sub-title-login span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    mix-blend-mode: normal;
}

.login-group-cta {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 0px;
    left: 0;
}
.login-group-cta button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 11px;
    border-radius: 20px;
    width: 120px;
    border: none;   
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;

letter-spacing: -0.408px;
}
.btn-login{
    background: linear-gradient(321.06deg, #CDDCF7 7.5%, #FFFFFF 100%);
    box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
}
.btn-login a{
    color: #000000;
}
.btn-SignUp a{
    color: #FFFFFF;
}
.btn-SignUp{
    background: linear-gradient(315deg, #4624C2 0%, #7F5BFF 100%);
    box-shadow: 0px 20px 40px #BDACFB, inset 0px -3px 10px rgba(0, 0, 0, 0.37), inset 3px 1px 15px rgba(255, 255, 255, 0.5);
}
.signup{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.form-signup {
    height: 262px;
    position: relative;
    bottom: -145px;
    width: 100%;
}
form.form-signup input {
    border-radius: 10px;
    margin-top: 5px;
    font-family: 'Work Sans';
    font-weight: 500;
}



@media (min-width: 1200px){
    body{
        display: flex;
        justify-content: center;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 375px !important;
    }
    section{
        max-width: 375px !important;
    }
}